<template>
  <div>
      <div v-if="loading">
          <RowValue />
          <SomeValue />
      </div>
      <div>

      </div>
      <button @click="currentValue">Get Current Weather</button>
  </div>
</template>

<script>
import RowValue from "./RowValue";
import SomeValue from "./SomeValue";

export default {
    components: {
        RowValue,
        SomeValue,
    },
    data() {
        return {
        }
    },
    methods: {
        currentValue() {
            //const apiKey = "439d4b804bc8187953eb36d2a8c26a02";
            this.$http.get('http://localhost:8080/data/2.5/weather?q=London,uk&appid=a0634588ae302f23e2c591870e46f470')
            .then(res => {
                const dateValue = new Date();
                const value = {
                    date: dateValue,
                    body: res.body
                };
                this.$store.commit('setWeatherValue', value);
            }, res => {
                console.log(res);
            });
        },
    },
    computed: {
        loading() {
            if (this.$store.state.weatherValues.length === 0) {
                return false;
            } else {
                return true;
            }
        }
    }
}
</script>

<style>

</style>