<template>
  <div >
      <div class="watherBlock" v-if="this.$store.state.hourlyWeather.length !== 0">
          <table style="width: 80%">
              <tr>
                  <th>Date</th>
                  <th v-for="(i, index) in this.$store.state.hourlyWeather[0].body.daily" :key="index">
                      {{new Date(i.dt * 1000)}}
                    </th>
              </tr>
              <tr>
                  <td>Temprature (Celsius)</td>
                  <td v-for="(i, index) in this.$store.state.hourlyWeather[0].body.daily" :key="index">
                      {{Math.round(i.temp.day - 273.15) + " °C"}}
                    </td>
              </tr>
              <tr>
                  <td>Pressure (hPa)</td>
                  <td v-for="(i, index) in this.$store.state.hourlyWeather[0].body.daily" :key="index">
                      {{i.pressure}}
                    </td>
              </tr>
              <tr>
                  <td>Humidity (%)</td>
                  <td v-for="(i, index) in this.$store.state.hourlyWeather[0].body.daily" :key="index">
                      {{i.humidity}}
                    </td>
              </tr>
              <tr>
                  <td>Wind Speed (m/s)</td>
                  <td v-for="(i, index) in this.$store.state.hourlyWeather[0].body.daily" :key="index">
                      {{i.wind_speed}}
                    </td>
              </tr>
          </table>
      </div>
      <!-- NOTE: API isn't have hourly values -->
      <button @click="hourlyValue">Daily Value</button>
  </div>
</template>

<script>
export default {
    name: "HurlyWeather",
    methods: {
        hourlyValue() {
            this.$http.get('http://localhost:8080/data/2.5/onecall?lat=41.047867&lon=28.898272&exclude=hourly&appid=a0634588ae302f23e2c591870e46f470')
            .then(res => {
                const dateValue = new Date();
                const value = {
                    date: dateValue,
                    body: res.body
                };
                this.$store.commit('setHourlyWeather', value);
            }, res => {
                console.log(res);
            });
        },
    },
}
</script>

<style scoped>
.watherBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
table ,th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
</style>

{
  "lat": 41.0479,
  "lon": 28.8983,
  "timezone": "Europe/Istanbul",
  "timezone_offset": 10800,
  "current": {
    "dt": 1621949560,
    "sunrise": 1621910310,
    "sunset": 1621963471,
    "temp": 295.31,
    "feels_like": 294.97,
    "pressure": 1018,
    "humidity": 53,
    "dew_point": 285.29,
    "uvi": 3.01,
    "clouds": 0,
    "visibility": 10000,
    "wind_speed": 6.9,
    "wind_deg": 48,
    "wind_gust": 8.65,
    "weather": [
      {
        "id": 800,
        "main": "Clear",
        "description": "clear sky",
        "icon": "01d"
      }
    ]
  },
  "minutely": [
    {
      "dt": 1621949580,
      "precipitation": 0
    },
    {
      "dt": 1621949640,
      "precipitation": 0
    },
    {
      "dt": 1621949700,
      "precipitation": 0
    },
    {
      "dt": 1621949760,
      "precipitation": 0
    },
    {
      "dt": 1621949820,
      "precipitation": 0
    },
    {
      "dt": 1621949880,
      "precipitation": 0
    },
    {
      "dt": 1621949940,
      "precipitation": 0
    },
    {
      "dt": 1621950000,
      "precipitation": 0
    },
    {
      "dt": 1621950060,
      "precipitation": 0
    },
    {
      "dt": 1621950120,
      "precipitation": 0
    },
    {
      "dt": 1621950180,
      "precipitation": 0
    },
    {
      "dt": 1621950240,
      "precipitation": 0
    },
    {
      "dt": 1621950300,
      "precipitation": 0
    },
    {
      "dt": 1621950360,
      "precipitation": 0
    },
    {
      "dt": 1621950420,
      "precipitation": 0
    },
    {
      "dt": 1621950480,
      "precipitation": 0
    },
    {
      "dt": 1621950540,
      "precipitation": 0
    },
    {
      "dt": 1621950600,
      "precipitation": 0
    },
    {
      "dt": 1621950660,
      "precipitation": 0
    },
    {
      "dt": 1621950720,
      "precipitation": 0
    },
    {
      "dt": 1621950780,
      "precipitation": 0
    },
    {
      "dt": 1621950840,
      "precipitation": 0
    },
    {
      "dt": 1621950900,
      "precipitation": 0
    },
    {
      "dt": 1621950960,
      "precipitation": 0
    },
    {
      "dt": 1621951020,
      "precipitation": 0
    },
    {
      "dt": 1621951080,
      "precipitation": 0
    },
    {
      "dt": 1621951140,
      "precipitation": 0
    },
    {
      "dt": 1621951200,
      "precipitation": 0
    },
    {
      "dt": 1621951260,
      "precipitation": 0
    },
    {
      "dt": 1621951320,
      "precipitation": 0
    },
    {
      "dt": 1621951380,
      "precipitation": 0
    },
    {
      "dt": 1621951440,
      "precipitation": 0
    },
    {
      "dt": 1621951500,
      "precipitation": 0
    },
    {
      "dt": 1621951560,
      "precipitation": 0
    },
    {
      "dt": 1621951620,
      "precipitation": 0
    },
    {
      "dt": 1621951680,
      "precipitation": 0
    },
    {
      "dt": 1621951740,
      "precipitation": 0
    },
    {
      "dt": 1621951800,
      "precipitation": 0
    },
    {
      "dt": 1621951860,
      "precipitation": 0
    },
    {
      "dt": 1621951920,
      "precipitation": 0
    },
    {
      "dt": 1621951980,
      "precipitation": 0
    },
    {
      "dt": 1621952040,
      "precipitation": 0
    },
    {
      "dt": 1621952100,
      "precipitation": 0
    },
    {
      "dt": 1621952160,
      "precipitation": 0
    },
    {
      "dt": 1621952220,
      "precipitation": 0
    },
    {
      "dt": 1621952280,
      "precipitation": 0
    },
    {
      "dt": 1621952340,
      "precipitation": 0
    },
    {
      "dt": 1621952400,
      "precipitation": 0
    },
    {
      "dt": 1621952460,
      "precipitation": 0
    },
    {
      "dt": 1621952520,
      "precipitation": 0
    },
    {
      "dt": 1621952580,
      "precipitation": 0
    },
    {
      "dt": 1621952640,
      "precipitation": 0
    },
    {
      "dt": 1621952700,
      "precipitation": 0
    },
    {
      "dt": 1621952760,
      "precipitation": 0
    },
    {
      "dt": 1621952820,
      "precipitation": 0
    },
    {
      "dt": 1621952880,
      "precipitation": 0
    },
    {
      "dt": 1621952940,
      "precipitation": 0
    },
    {
      "dt": 1621953000,
      "precipitation": 0
    },
    {
      "dt": 1621953060,
      "precipitation": 0
    },
    {
      "dt": 1621953120,
      "precipitation": 0
    },
    {
      "dt": 1621953180,
      "precipitation": 0
    }
  ],
  "daily": [
    {
      "dt": 1621936800,
      "sunrise": 1621910310,
      "sunset": 1621963471,
      "moonrise": 1621959600,
      "moonset": 1621907580,
      "moon_phase": 0.46,
      "temp": {
        "day": 295.57,
        "min": 289.53,
        "max": 295.79,
        "night": 289.56,
        "eve": 294.14,
        "morn": 290.2
      },
      "feels_like": {
        "day": 295.15,
        "night": 289.14,
        "eve": 293.76,
        "morn": 289.68
      },
      "pressure": 1020,
      "humidity": 49,
      "dew_point": 284.34,
      "wind_speed": 6.9,
      "wind_deg": 48,
      "wind_gust": 9.42,
      "weather": [
        {
          "id": 800,
          "main": "Clear",
          "description": "clear sky",
          "icon": "01d"
        }
      ],
      "clouds": 0,
      "pop": 0,
      "uvi": 9.11
    },
    {
      "dt": 1622023200,
      "sunrise": 1621996671,
      "sunset": 1622049923,
      "moonrise": 1622050800,
      "moonset": 1621996200,
      "moon_phase": 0.5,
      "temp": {
        "day": 295.06,
        "min": 288.14,
        "max": 295.34,
        "night": 289.62,
        "eve": 291.23,
        "morn": 288.92
      },
      "feels_like": {
        "day": 294.61,
        "night": 289.54,
        "eve": 290.95,
        "morn": 288.59
      },
      "pressure": 1016,
      "humidity": 50,
      "dew_point": 283.94,
      "wind_speed": 7,
      "wind_deg": 38,
      "wind_gust": 11.85,
      "weather": [
        {
          "id": 804,
          "main": "Clouds",
          "description": "overcast clouds",
          "icon": "04d"
        }
      ],
      "clouds": 98,
      "pop": 0,
      "uvi": 8.34
    },
    {
      "dt": 1622109600,
      "sunrise": 1622083034,
      "sunset": 1622136374,
      "moonrise": 1622141820,
      "moonset": 1622085180,
      "moon_phase": 0.54,
      "temp": {
        "day": 294.09,
        "min": 288.61,
        "max": 294.84,
        "night": 289.67,
        "eve": 292.1,
        "morn": 289.22
      },
      "feels_like": {
        "day": 293.88,
        "night": 289.65,
        "eve": 291.9,
        "morn": 289.13
      },
      "pressure": 1012,
      "humidity": 63,
      "dew_point": 286.67,
      "wind_speed": 5.89,
      "wind_deg": 46,
      "wind_gust": 11.42,
      "weather": [
        {
          "id": 804,
          "main": "Clouds",
          "description": "overcast clouds",
          "icon": "04d"
        }
      ],
      "clouds": 100,
      "pop": 0,
      "uvi": 7.65
    },
    {
      "dt": 1622196000,
      "sunrise": 1622169399,
      "sunset": 1622222824,
      "moonrise": 1622232360,
      "moonset": 1622174820,
      "moon_phase": 0.57,
      "temp": {
        "day": 293.93,
        "min": 288.49,
        "max": 294.35,
        "night": 291.35,
        "eve": 293.73,
        "morn": 289.16
      },
      "feels_like": {
        "day": 293.63,
        "night": 291.26,
        "eve": 293.51,
        "morn": 289.17
      },
      "pressure": 1010,
      "humidity": 60,
      "dew_point": 285.64,
      "wind_speed": 3.51,
      "wind_deg": 50,
      "wind_gust": 6.07,
      "weather": [
        {
          "id": 803,
          "main": "Clouds",
          "description": "broken clouds",
          "icon": "04d"
        }
      ],
      "clouds": 75,
      "pop": 0.05,
      "uvi": 7.91
    },
    {
      "dt": 1622282400,
      "sunrise": 1622255765,
      "sunset": 1622309273,
      "moonrise": 0,
      "moonset": 1622265000,
      "moon_phase": 0.61,
      "temp": {
        "day": 290.47,
        "min": 288.77,
        "max": 291.63,
        "night": 289.71,
        "eve": 291.63,
        "morn": 288.77
      },
      "feels_like": {
        "day": 290.32,
        "night": 289.38,
        "eve": 291.2,
        "morn": 288.76
      },
      "pressure": 1015,
      "humidity": 79,
      "dew_point": 286.7,
      "wind_speed": 6.24,
      "wind_deg": 329,
      "wind_gust": 9.91,
      "weather": [
        {
          "id": 501,
          "main": "Rain",
          "description": "moderate rain",
          "icon": "10d"
        }
      ],
      "clouds": 93,
      "pop": 0.97,
      "rain": 8.55,
      "uvi": 2.45
    },
    {
      "dt": 1622368800,
      "sunrise": 1622342134,
      "sunset": 1622395721,
      "moonrise": 1622322180,
      "moonset": 1622355540,
      "moon_phase": 0.65,
      "temp": {
        "day": 287.22,
        "min": 286.72,
        "max": 288.78,
        "night": 287.29,
        "eve": 287.35,
        "morn": 287.41
      },
      "feels_like": {
        "day": 287.06,
        "night": 286.87,
        "eve": 287.07,
        "morn": 287.08
      },
      "pressure": 1016,
      "humidity": 91,
      "dew_point": 285.78,
      "wind_speed": 6.03,
      "wind_deg": 7,
      "wind_gust": 9.2,
      "weather": [
        {
          "id": 501,
          "main": "Rain",
          "description": "moderate rain",
          "icon": "10d"
        }
      ],
      "clouds": 100,
      "pop": 1,
      "rain": 18.42,
      "uvi": 3
    },
    {
      "dt": 1622455200,
      "sunrise": 1622428504,
      "sunset": 1622482168,
      "moonrise": 1622411340,
      "moonset": 1622446140,
      "moon_phase": 0.68,
      "temp": {
        "day": 292.09,
        "min": 285.97,
        "max": 293.2,
        "night": 289.77,
        "eve": 293.09,
        "morn": 285.97
      },
      "feels_like": {
        "day": 291.4,
        "night": 289.08,
        "eve": 292.34,
        "morn": 285.37
      },
      "pressure": 1022,
      "humidity": 52,
      "dew_point": 281.66,
      "wind_speed": 4.52,
      "wind_deg": 76,
      "wind_gust": 8.14,
      "weather": [
        {
          "id": 800,
          "main": "Clear",
          "description": "clear sky",
          "icon": "01d"
        }
      ],
      "clouds": 1,
      "pop": 0,
      "uvi": 3
    },
    {
      "dt": 1622541600,
      "sunrise": 1622514877,
      "sunset": 1622568613,
      "moonrise": 1622499960,
      "moonset": 1622536740,
      "moon_phase": 0.72,
      "temp": {
        "day": 294.38,
        "min": 287.57,
        "max": 294.89,
        "night": 290.29,
        "eve": 292.71,
        "morn": 287.57
      },
      "feels_like": {
        "day": 293.73,
        "night": 290.04,
        "eve": 292.24,
        "morn": 286.76
      },
      "pressure": 1015,
      "humidity": 45,
      "dew_point": 281.89,
      "wind_speed": 7.36,
      "wind_deg": 51,
      "wind_gust": 11.2,
      "weather": [
        {
          "id": 803,
          "main": "Clouds",
          "description": "broken clouds",
          "icon": "04d"
        }
      ],
      "clouds": 74,
      "pop": 0,
      "uvi": 3
    }
  ]
}