<template>
  <div>
      <div class="watherBlock">
          <table style="width: 80%">
              <tr>
                  <th>Timezone</th>
                  <th>Date</th>
                  <th>Main</th>
                  <th>Description</th>
                  <th>Icon</th>
                  <th>Temperature (Kelvin)</th>
                  <th>Pressure (hPa)</th>
                  <th>Humidity (%)</th>
              </tr>
              <tr v-for="(i, index) in this.$store.state.multiCity" :key="index">
                  <td>{{i.body.timezone}}</td>
                  <td>{{i.date}}</td>
                  <td>{{i.body.current.weather[0].main}}</td>
                  <td>{{i.body.current.weather[0].description}}</td>
                  <td>
                        <img :src="`http://openweathermap.org/img/wn/${i.body.current.weather[0].icon}@2x.png`" class="icon">
                  </td>
                  <td>{{i.body.current.temp}}</td>
                  <td>{{i.body.current.pressure}}</td>
                  <td>{{i.body.current.humidity}}</td>
              </tr>
          </table>
      </div>
      <select v-model="selectValue" name="cities" id="cities">
          <option value="istanbul">İstanbul</option>
          <option value="izmir">İzmir</option>
          <option value="ankara">Ankara</option>
          <option value="samsun">Samsun</option>
      </select>
      <button @click="setCityData">Get City Data</button>
  </div>
</template>

<script>
export default {
    name: "MultiData",
    data() {
        return {
            selectValue: 'istanbul',
        }
    },
    methods: {
        setCityData() {
            this.$http.get(`http://localhost:8080/data/2.5/onecall?${this.latLong}&exclude=hourly,daily&appid=a0634588ae302f23e2c591870e46f470`)
            .then(res => {
                const dateValue = new Date();
                const value = {
                    date: dateValue,
                    body: res.body
                };
                this.$store.commit('setMultiCity', value);
            }, res => {
                console.log(res);
            });
        },
    },
    computed: {
        latLong() {
            if (this.selectValue === 'istanbul') {
                return 'lat=41.047867&lon=28.898272'
            } else if (this.selectValue === 'izmir') {
                return 'lat=38.423733&lon=27.142826';
            } else if (this.selectValue === 'ankara') {
                return 'lat=39.925533&lon=32.866287';
            } else {
                return 'lat=41.16&lon=36.17';
            }
        }
    },
}
</script>

<style scoped>
.watherBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}
table ,th, td {
    border: 1px solid #000;
    border-collapse: collapse;
}
th, td {
    padding: 10px;
}
</style>